@use '../utility/_index' as utility;

.request-button {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: utility.$green;
    border: none;
    @include utility.tablet {
        position: absolute;
        width: 20%;
        padding: 1rem;
        margin-left: 35%;
    }

    @include utility.desktop {
        width: 12%;
        margin-left: 15%;
        height: 3.125rem;
    }
    
    &:hover {
        background-color: utility.$lighterGreen;
        cursor: pointer;
    }
}