@use '../utility/_index' as utility;

*{
    font-family: utility.$font;
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background-color: utility.$black;
    background-image: url(../images/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    @include utility.tablet {
        background-image: url(../images/tablet/image-host.jpg), url(../images/desktop/bg-pattern-dots.svg);
        background-size: initial;
        background-position: 100% 0, left 1.75rem bottom;
        background-blend-mode: initial;
        height: 64rem;
    }
    @include utility.desktop {
        background-image: url(../images/desktop/bg-pattern-dots.svg), url(../images/desktop/image-host.jpg);
        background-position: 75rem 46rem, 34rem 9.6rem;
        height: 100vh;
    }
}

main {
    @include utility.tablet {
        background-color: utility.$black;
    }
}

.company__logos {
    img:nth-child(1) {
        height: 1.063rem;
        @include utility.tablet {
            height: 1.813rem;
        }
    }

    img:nth-child(2) {
        height: 1.063rem;
        @include utility.tablet {
            height: 1.813rem;
        }
    }

    img:nth-child(3) {
        height: 0.688rem;
        @include utility.tablet {
            height:  1.125rem;
        }
    }

    img:nth-last-child(1) {
        height: 1.063rem;
        @include utility.tablet {
            height: 1.625rem;
        }
    }
}